.create-tournament-container {
  background-color: #121212; 
  color: #ffffff; 
  border-radius: 5px;
}

.tab-titles {
  display: flex;
  justify-content: start;
  gap: 10px; 
  margin-bottom: 20px;
}

.tab-title {
  cursor: pointer;
  padding-bottom: 5px;
  color: #7a7a7a;
}

.tab-title.active {
  color: #ffffff; 
  border-bottom: 2px solid #7289DA;
}


 

.info-container {
  background-color: #0D1117; 
  padding: 20px;
  border-radius: 10px;
  color: #C9D1D9; 
}

.info-label {
  display: block;
  margin-bottom: .5rem;
  color: #58A6FF; 
}

.info-textarea,
.info-input {
  width: 100%;
  background-color: #161B22; 
  border: 1px solid #30363D; 
  color: #C9D1D9; 
  padding: .375rem .75rem;
  border-radius: 4px;
  margin-bottom: 1rem;
}

.info-textarea {
  min-height: 100px; 
  resize: vertical; 
}
.settings-container {
  background-color: #0D1117;
  padding: 20px;
  border-radius: 10px;
  color: #C9D1D9; 
}

.settings-label {
  display: block;
  margin-bottom: .5rem;
  color:purple; 
}

.settings-input {
  width: 100%;
  background-color: #161B22;
  border: 1px solid #30363D; 
  color: #C9D1D9; 
  padding: .375rem .75rem;
  border-radius: 4px;
  margin-bottom: 1rem;

  margin-bottom: 1rem; 
}

.form-container {
  background-color: #121212;
  color: #ffffff; 
  padding: 20px;
  border-radius: 5px;
}

.form-group {
  margin-bottom: 1rem; 
  position: relative; 
}

.form-label {
  display: block;
  margin-bottom: 5px;
  color: #ffffff; 
}

.form-control {
  width: 100%;
  padding: 10px;
  background-color: transparent; 
  color: #ffffff; 
  border: none;
  border-bottom: 2px solid #007BFF; 
}

.form-control::placeholder {
  color: #a9a9a9; 
}

.form-control:focus {
  outline: none; 
  border-bottom: 2px solid #ffffff; 
}

.btn.next-btn {
  background-color: #007BFF; 
  color: #ffffff; 
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  margin-top: 20px; 
}

.btn.next-btn:hover {
  background-color: #0056b3; 
}


.form-control:hover {
  border-bottom: 2px solid #ffffff;
}



.btn.add-btn {
  
  margin: 10px;
  padding: 10px 15px;
  background-color: #4CAF50; 
  color: white; 
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn.add-btn:hover {
  background-color: #45a049; 
}

.content-area {
  background-color: #dd1616; 
 
}
.add-btn {
  transition: background-color 0.3s ease;
}

.add-btn:hover {
  background-color: #17a2b8;
  color: white;
}

.add-btn:focus {
  box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5); 
}
