.publish-tournament {
    /* Add your styles here */
    color: #fff; /* Example style */
  }
  
  /* Add specific styles for your components within .publish-tournament */
  .publish-tournament .checkbox-label {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .publish-tournament .checkbox {
    margin-right: 0.5rem;
  }
  
  .publish-tournament .buttons-container {
    display: flex;
    justify-content: space-between;
  }
  
  .publish-tournament button {
    /* Shared button styles */
    padding: 0.5rem 1rem;
    border: none;
    color: #fff;
    cursor: pointer;
  }
  
  .publish-tournament button.back-button {
    background-color: #666;
  }
  
  .publish-tournament button.publish-button {
    background-color: #5cb85c; /* Bootstrap's 'btn-success' color */
  }
  